<table id="tablas", style="width:100%">
  <tr>
    <th>Product name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Brand</th>
  </tr>
  <% @productos.each do |p| %>
    <tr>
      <td><%=p.name%></td>
      <td><%=p.description%></td>
      <td><%=p.price%></td>
      <td><%= @marcas.select {|m|   m.id == t.marca_id }%></td>
      
      
    </tr>
  <% end %>
</table>